{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>

/* top education post starts */	

.post-title1{
	font-size: 50px;
}
.card .post-title1{
	text-decoration: none;
	color: black;
}
.card .post-title1:hover{
	color: blue;
}

/*top education post ends*/


/* second education post starts */
.second-education-post{
	max-width: 100%;
	max-height: 450px;
	padding-bottom: 65px;

}
.second-education-post .post-title2{
	text-decoration: none;
	color: black;
	font-size: 26px;

	
}
.second-education-post .post-title2:hover{
	color: blue;
}
.post-description2{
	font-size: 19px;
	
}

/* second education post ends */



/* education ideas starts */
.idea-education{
	margin-top: 58px;
}
.idea-education .card{
	height: 320px;
}
.idea-education .education-idea-title{
	text-decoration: none;
	color: black;
	font-size: 20px;
	padding-top: 5px;
}
.idea-education .education-idea-title:hover{
	color: blue;
}


/* education ideas ends */


/* latest news starts */

.latest-news a{
	text-decoration: none;
	color: black;
}
.latest-news a:hover{
	color: blue;
}


/* latest news ends */



</style>



<!-- <div class="container my-5"> -->
<div class="row my-5">
	<div class="col-md-9">
		<!-- top education post starts -->
			{% for post in posts %}
			<div class="card pb-4 text-center first-education-post">
					<a href="" class="post-title1">
						{{post.title}}
					</a>
					<a href="" class="">
						<img src="{{post.image.url}}" style="width: 95%;">
					</a>
					<p class="text-center">
						<span style="color: grey;">
							{{post.created}}
						</span>
						<p class="post-description1">

						{{post.description|truncatewords:15}}</p>
					</p>
			</div>
			{% endfor %}

		<!-- top education post ends -->



		<!--  second education post starts -->
		<div class="row">
			{% for post in posts_filter %}
			<div class="col-md-6">
				<div class="card text-center my-2 second-education-post">
					<a href="" class="my-3">
					<img src="{{post.image.url}}" style="width: 90%; max-height: 180px;">
					</a><br>
					<a href="" class="post-title2">{{post.title}}</a><br>
					<p class="post-description2">
						<small style="color: grey;">{{post.created}}</small><br>
					{{post.description|truncatewords:15}}</p>
				</div>
			</div>
			{% endfor %}
		</div>
		<!-- second education post ends -->
	</div>


	<!-- right side bar starts -->
	<div class="col-md-3">
		<!-- Latest news starts-->
		<div class="latest-news">
			<div class="card text-center">
				<h4 class="my-2"><b>Latest News</b></h4><hr>
				{% for post in latest_news %}
					<a href="{% url 'blog:education_detail' post.id %}">{{post.title}}</a><hr>
				{% endfor %}
			</div>
		</div>
		<!-- Latest news ends  -->



		<!-- IDEAS STARTS  -->
		<div class="idea-education">
		{% for idea in ideas %}
		<div class="card my-3 text-center py-3">
			<a href="">
				<img src="{{idea.photo.url}}" style="width: 100px; height: 100px; border-radius: 50%;">
			</a>
			<a href="{% url 'blog:idea_detail' idea.id %}" class="education-idea-title">{{idea.title}}
			</a><br>
			<p style="margin: 0 auto; font-weight: bold;">{{idea.description|truncatewords:12}}</p>
		</div>
		{% endfor %}
		</div>
		<!-- IDEAS ENDS  -->


	</div>
	<!-- right side bar ends -->

</div>






{% endblock %}

